---
layout: default
title: 'Lakhan Mandloi'
description: 'A proud Indian and Full stack developer'
---

<h2>About me</h2>

<p>An IT enthusiast and Full stack developer.</p>

<p>
	Having 6+ years experience in the Web Development industry. Worked on UI
	Development, DevOps and Backend Development. Having special interest in UX,
	analytics, and performance.
	<a href="/about.html" title="know more..">know more..</a>
</p>

<h2>Experiments</h2>

{% assign experiments = site.pages | where:"type","experiment" %}

<ul>
	{% for experiment in experiments %} {% if experiment.published == "true" %}
	<li class="card">
		<h4>
			<a href="{{experiment.url}}">{{experiment.title}}</a>
			<small class="{{experiment.statusClass}}">{{experiment.status}}</small>
		</h4>
		<span>{{experiment.description}}</span>
	</li>
	{% endif %} {% endfor %}
</ul>
<p class="text-right">
	<a href="/experiments.html" title="See all..">See all..</a>
</p>

<h2>Blogs</h2>

{% assign blogs = site.pages | where:"type","blog" %}

<ul>
	{% for blog in blogs %} {% if blog.published == "true" %}
	<li class="card">
		<a href="{{blog.url}}"><h4>{{blog.title}}</h4></a>
		<span>{{blog.description}}</span>
	</li>
	{% endif %} {% endfor %}
</ul>
<p class="text-right"><a href="/blogs.html" title="See all..">See all..</a></p>
