---
layout: default
title: "Lakhan Mandloi"
description: "An IT enthusiast and Half-baked full stack developer"
---

<h2>About me</h2>

<p>An IT enthusiast and Half-baked full stack developer. <a href="/about.html" title="know more..">know more..</a></p>

<!--<h2>About website</h2>

<p>A place where i showcase the open-source projects i do & share my own views.</p>-->

<h2>Experiments</h2>

{% assign experiments = site.pages | where:"type","experiment" %}

<ul>
{% for experiment in experiments %}
	{% if experiment.published == "true" %}
		<li class="card">
			<a href="{{experiment.url}}">{{experiment.title}}</a>
			<small> ({{experiment.status}})</small><br/>
			<span>{{experiment.description}}</span>
		</li>	
	{% endif %}
{% endfor %}
</ul>
<p class="text-right"><a href="/experiments.html" title="See all..">See all..</a></p>

<h2>Blogs</h2>

{% assign experiments = site.pages | where:"type","blog" %}

<ul>
{% for blog in blogs %}
	{% if blog.published == "true" %}
		<li class="card">
			<a href="{{blog.url}}">{{blog.title}}</a><br />
			<span>{{blog.description}}</span>
		</li>	
	{% endif %}
{% endfor %}
</ul>

<p>Coming soon..!!</p>
