---
layout: default
title: 'Lakhan Mandloi - Full stack developer'
description: '6+ years experienced Full Stack Developer with a demonstrated history of working in the Web Development industry. Experienced in ReactJS, JavaScript, SCSS, NodeJS, PHP, SQL, AWS, Docker, Jenkins and Digital Marketing.'
---

<h1 class="hide">Lakhan Mandloi</h1>

<h2>About me</h2>

<p>Hi there,</p>

<p>
	I am Lakhan Mandloi, a 6+ years experienced in Full Stack Development. I have
	experience of working with ReactJS, JavaScript, SCSS, NodeJS, PHP, SQL, AWS,
	Docker, Jenkins and Digital Marketing.
</p>

<p>
	<a href="/about.html" title="know more..">know more..</a>
</p>

<h2>Experiments</h2>

{% assign experiments = site.pages | where:"type","experiment" %}

<ul>
	{% for experiment in experiments %} {% if experiment.published == "true" %}
	<li class="card">
		<h4>
			<a href="{{experiment.url}}">{{experiment.title}}</a>
			<small class="{{experiment.statusClass}}">{{experiment.status}}</small>
		</h4>
		<span>{{experiment.description}}</span>
	</li>
	{% endif %} {% endfor %}
</ul>
<p class="text-right">
	<a href="/experiments.html" title="See all..">See all..</a>
</p>

<h2>Blogs</h2>

{% assign blogs = site.pages | where:"type","blog" %}

<ul>
	{% for blog in blogs %} {% if blog.published == "true" %}
	<li class="card">
		<a href="{{blog.url}}"><h4>{{blog.title}}</h4></a>
		<span>{{blog.description}}</span>
	</li>
	{% endif %} {% endfor %}
</ul>
<p class="text-right"><a href="/blogs.html" title="See all..">See all..</a></p>
