<img src="/images/nimbu.png" class="nimbu" />
<header class="header bg-1" id="header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-6 d-inline-flex flex-row align-items-center">
				<a href="/" title="{{site.title}}">
					<img
						src="{{site.logo}}"
						class="logo"
						alt="{{site.title}}"
						title="{{site.title}}"
					/>
				</a>
				<span class="name d-inline-flex flex-column">
					<span
						>लखन मंडलोई
						<span title="My pride"
							><img src="/images/india.png" class="india" /></span
					></span>
					<span class="desc">सॉफ्टवेयर अभियान्ता</span>
				</span>
			</div>
			<div class="col-12 col-md-6">
				<div class="social-icons">
					<!--<a href="/contact" title="Contact Me"
						><i class="fa fa-envelope"></i
					></a>-->
					<a
						href="{{site.github}}"
						title="Github"
						target="_blank"
						rel="noopener"
						><i class="fab fa-github"></i
					></a>
					<a
						href="{{site.linkedin}}"
						title="Linkedin"
						target="_blank"
						rel="noopener"
						><i class="fab fa-linkedin"></i
					></a>
					<!--<a href="{{site.facebook}}" title="Facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>-->
					<a
						href="{{site.twitter}}"
						title="Twitter"
						target="_blank"
						rel="noopener"
						><i class="fab fa-twitter-square"></i
					></a>
					<a
						href="https://lakhanmandloi.in/"
						title="English Website"
						target="_blank"
						class="hindi"
						>English Website</a
					>
				</div>
				<nav>
					<ul>
						<li>
							<a href="/about.html" title="मेरे बारे मेँ">मेरे बारे मेँ</a>
						</li>
						<li><a href="/blogs.html" title="ब्लॉग">ब्लॉग</a></li>
						<li>
							<a href="/experiments.html" title="प्रयोग">प्रयोग</a>
						</li>
						<li>
							<a href="/contact.html" title="संपर्क करें">संपर्क करें</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div id="headerFix" class="headerFix">&nbsp;</div>
