<img src="/images/nimbu.png" class="nimbu"/>
<header class="header bg-1" id="header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-8 d-inline-flex flex-row align-items-center">
				<a href="/" title="{{site.title}}">
					<img src="{{site.logo}}" class="logo" alt="{{site.title}}" title="{{site.title}}" />
				</a>
				<span class="name d-inline-flex flex-column">
					<span>Lakhan Mandloi</span>
					<span class="desc">Web Developer and a proud Indian</span>
					<!--<span>( लखन मण्डलोई )</span>-->
				</span>
			</div>
			<div class="col-12 col-md-4">
				<div class="social-icons">
				  <span title="My pride"><img src="/images/india.png" class="india"/></span>
				  <a href="mailto:{{site.email}}" title="Email me" target="_blank" rel="noopener"><i class="fas fa-at"></i></a>
				  <a href="{{site.github}}" title="Github" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
				  <a href="{{site.linkedin}}" title="Linkedin" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
				  <a href="{{site.facebook}}" title="Facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
				  <a href="{{site.twitter}}" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
			    </div>
				<nav>
					<ul>
						<li><a href="/about.html" title="About">About</a></li>
						<li><a href="/blogs.html" title="Blogs">Blogs</a></li>
						<li><a href="/experiments.html" title="Experiments">Experiments</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div id="headerFix" class="headerFix">
	&nbsp;
</div>
