<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicons -->
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/favicon/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/favicon/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/favicon/site.webmanifest" />
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#f9f8f3" />
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png" />
<meta name="theme-color" content="#f9f8f3" />
<!-- /Favicons -->

<!-- SEO -->
<title>{{page.title}}</title>
<meta name="description" content="{{page.description}}" />
<meta name="author" content="{{site.author}}" />
<link rel="canonical" href="{{page.url}}" />

<meta name="robots" content="index,follow" />
<!-- /SEO -->

<!-- Og Tags -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:locale" content="{{site.language}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:image" content="{{site.url}}/images/banner-hi.jpeg" />
<!-- /Og Tags -->

<!--Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{site.twitter}}" />
<meta name="twitter:creator" content="{{site.twitter}}" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />
<meta name="twitter:title" content="{{page.title}}" />
<meta name="twitter:description" content="{{page.description}}" />
<meta name="twitter:image" content="{{site.url}}/images/banner-hi.jpeg" />
<!-- /Twitter Cards -->

<!-- Caching Fixes -->
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="last-modified" content="{{site.time}}" />
<meta http-equiv="Expires" content="600" />
<!-- /Caching Fixes -->

<!-- Google Analytics -->
<script
	async
	src="https://www.googletagmanager.com/gtag/js?id={{site.ga}}"
></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', '{{site.ga}}');
</script>
<!-- /Google Analytics -->

<!-- CSS-->
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Baloo|Raleway"
/>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
	rel="stylesheet"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap"
	rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap"
	rel="stylesheet"
/>
<link
	rel="stylesheet"
	href="/css/style.css?{{ site.time | | date: '%d%m%Y'}}"
/>
<link
	rel="stylesheet"
	href="/css/dialog.css?{{ site.time | | date: '%d%m%Y'}}"
/>
<!-- /CSS-->

<!-- JS-->
<script
	type="text/javascript"
	src="/js/jquery-3.3.1.min.js?{{ site.time | | date: '%d%m%Y'}}"
></script>
<script
	type="text/javascript"
	src="/js/custom.js?{{ site.time | | date: '%d%m%Y'}}"
></script>
<!--<script
	type="text/javascript"
	src="/js/dialog.js?{{site.time | | date: '%d%m%Y'}}"
></script>-->
<!-- /JS-->

<script src="https://cdn.jsdelivr.net/npm/emojione@3.1.6/lib/js/emojione.min.js"></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/emojione@3.1.6/extras/css/emojione.min.css"
/>
