<header class="header bg-1" id="header">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="/" title="{{site.title}}">
					<img src="{{site.logo}}" class="logo" alt="{{site.title}}" title="{{site.title}}" />
					<span class="name"> &nbsp; Lakhan Mandloi ( लखन मण्डलोई )</span>
				</a>
			</div>
			<div class="col-6">
				<nav>
					<ul>
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="/about,html" title="About">About</a></li>
						<li><a href="/blogs.html" title="Blogs">Blogs</a></li>
						<li><a href="/experiments.html" title="Experiments">Experiments</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div id="headerFix">
	&nbsp;
</div>
